.head{
    left: 95vw;
    position: fixed;
    top: 5vh;
    z-index: 10;
    color: white;
    /* transition-duration: 0.5; */
    transition-timing-function: ease-in;
    /* display: flex; */
}

.head .headtext{
    font-size: 18;
    font-family: 'Spartan';
    opacity: 0.6;
    top: -80;
    left: -20;
    /* transition-duration: 0.5; */
    transition-timing-function: ease-in;
}

.head:hover .headtext{
    
    opacity: 1;
    transition-timing-function: ease-in;
}

.head ul{
    position: absolute;
    /* top: 100%; */
    left: -50;
    text-align: right;
    padding-right: 7%;
    font-family: "Spartan";
    font-size: 13;
    visibility: hidden;
    transition-duration: 0.5;
}

.head:hover ul{
    visibility: visible;
}