.head{
    left: 94vw;
    top: -2.7vh;
    position: fixed;
    z-index: 10;
    color: white;
    /* transition-duration: 0.5; */
    transition-timing-function: ease-in;
    /* display: flex; */
}

.head .headtext{
    font-size: 1vw;
    font-family: 'Spartan';
    opacity: 0.6;

    /* transition-duration: 0.5; */
    transition-timing-function: ease-in;
}

.head:hover .headtext{
    
    opacity: 1;
    transition-timing-function: ease-in;
}
