body{
    background-color: black;
    width: 100.3vw;
    height: 100vh;
    overflow-x: hidden;
}
#p5Div {
position: absolute;
top: 0;
left: 0;
}
#p5Div {
z-index: 1;
}

h1{
    z-index: 1;
}
a{
    z-index: 3;
}

#hands{
    position: absolute;
     top: 90%;
     transition-duration: 0.6s;
    filter: brightness(0.8);
}

#aboutme{
    position: absolute;
    width: 70%;
     top: 8%;
     left:10%;
     transition-duration: 0.6s;
    filter: brightness(0.8);
}

#hands:hover{
    width: 50%;
}

#threejsDiv{
    background-color: transparent;
    position: relative;
    top:-97vh;
    z-index: -1;
}


#projcanvas{
    z-index: 2;
}


#proj{
    position: absolute;
    top:180% !important;
    /* z-index: 11; */
}




h2{
    font-size: 50px;
    font-family: 'Spartan';
    font-weight: lighter;
    position: absolute;
    top: 100%;
    left: 10%;
    color:white;
}

.outer{
    position: relative;
    margin-top: 500px;
    margin-left: 700px;
}

.inner{
    position: absolute;
    /* border: 1px solid #eee; */
    height: 50px;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
}

.innerspan{
    animation: animate 10s ease infinite;
    position: relative;
    color: rgb(161, 161, 161);
}

@keyframes animate {
    0% {top: 0}
    20% {top: 0}
    25% {top: -59px}
    45% {top: -59px}
    50% {top: -59 px}
    70% {top: -118 px}
    75% {top: -118px}
    95% {top: -118px}
    100% {top: 0px}
}

#cross{
    position: absolute;
    top: 190%;
    left: 50%;
    visibility: hidden;
    z-index: 20;

}

#cross.active{
    visibility: visible;
}

#cross.dactive{
    visibility: hidden;
}

.wrapper{
    width: 400px;
    height:400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#popup{
    /* background-color: white;
    border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160%;
    left: 20%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;


}

#popup.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#popup.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup2{
    margin-left: 5px;
    padding: 33px;
    font-family: "Spartan";
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    /* background-color: white; */
    /* background-color: rgb(43, 42, 42); */
    /* border:3px solid black; */
    width: 700px;
    height: 400px;
    position: absolute;
    top:150vh;
    left: 70vw;
    transform: translate(-50%,-50%);
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;
    /* color: white; */

}

#popup2.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#me1{
    position: absolute;
    color: white;
font-family: 'Spartan';
 letter-spacing: 10px;
 top:137% !important ;
  font-size: 15px;
  left: 52%;
   font-weight: lighter; 
   opacity: 0.4;
}



#me1.meopa{
    
    opacity: 1;
    transition: 0.5s;
}

#me1.meclose{
    
    opacity: 0.4;
    transition: 0.5s;
}


#skillpopup{
    background-color: white;
    /* border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160%;
    left: 20%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    /* align-items: center; */
    z-index: 20;
    border-radius: 20%;
    padding: 20px;
    font-family: "Spartan";
    font-weight: bold;

}

#skillpopup h1{
    font-size: 20px; 
    font-weight: bolder;
    position: relative;
    color: black;
    top: 10px;
    left: 10px;
}



#skillpopup.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#skillpopup.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#skillpopup2{
    margin-left: 5px;
    padding: 20px;
    font-family: "Spartan";
    font-weight: bold;
    background-color: white;
    /* border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160%;
    left: 85%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;

}

#skillpopup2.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#skillpopup2.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#skillpopup2 h1{
    font-size: 20px; 
    font-weight: bolder;
    position: relative;
    color: black;
    top: 10px;
    left: 10px;
}

#skillcross{
    position: absolute;
    top: 190%;
    left: 50%;
    visibility: hidden;
    z-index: 20;

}

#skillcross.active{
    visibility: visible;
}

#skillcross.dactive{
    visibility: hidden;
}

#skills{
    position: absolute;
    color: white;
font-family: 'Spartan';
 letter-spacing: 10px;
 top:131% !important ;
  font-size: 15px;
  left: 50%;
   font-weight: lighter; 
   opacity: 0.4;
}

#skills.meopa{
    
    opacity: 1;
    transition: 0.5s;
}

#skills.meclose{
    
    opacity: 0.4;
    transition: 0.5s;
}

#workpopup{
    background-color: white;
    /* border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160%;
    left: 20%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;
    padding: 30px;
    font-family: "Spartan";
    font-weight: bold;

}

#workpopup.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#workpopup.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#workpopup h1{
    font-size: 20px; 
    font-weight: bolder;
    position: relative;
    color: black;
    top: 8px;
    left: 10px;
}

#workpopup2{
    margin-left: 5px;
    padding: 30px;
    font-family: "Spartan";
    font-weight: bold;
    background-color: white;
    /* border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160%;
    left: 85%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;

}

#workpopup2.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#workpopup2.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#workpopup2 h1{
    font-size: 20px; 
    font-weight: bolder;
    position: relative;
    color: black;
    top: 6px;
    left: 10px;
}

#workpop2 p{
    position: absolute;
    top: 20;
}

#workcross{
    position: absolute;
    top: 190%;
    left: 50%;
    visibility: hidden;
    z-index: 20;

}

#workcross.active{
    visibility: visible;
}

#workcross.dactive{
    visibility: hidden;
}

#work{
    position: absolute;
    color: white;
font-family: 'Spartan';
 letter-spacing: 10px;
 top:125% !important ;
  font-size: 15px;
  left: 50.7%;
   font-weight: lighter; 
   opacity: 0.4;
}

#work.meopa{
    
    opacity: 1;
    transition: 0.5s;
}

#work.meclose{
    
    opacity: 0.4;
    transition: 0.5s;
}

/* nav{
    position: fixed;
    background-color: black;
    top: 0;
    z-index:1;
    height: 1vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
} */

/* .nav-links{
    background-color: black;
} */

.nav-links ul{
    z-index: 100;
    position: fixed;
    top: 8;
    display: flex;
    flex-direction: row;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
      
}



.nav-links ul li{
    padding: 0 20px;
    list-style: none;
}

.nav-links ul li img{
    transform:  scale(0.75);
}

.java{
    position:absolute; width:33% ; left:12%; top: -30%; opacity: 0.3;visibility: hidden;
}

.java2{
    position:absolute; width:5% ; left:15%; top: 203%; opacity: 0.5;
}

.ps2{
    position:absolute; width:5% ; left:25%; top:203%; opacity: 0.5;
}

.ps3{
    position:absolute; width:32% ; left:65%; top:-28%; opacity: 0.5;visibility: hidden;
}

.java3{
    position:absolute; width:33% ; left:28%; top: -30%; opacity: 0.3;visibility: hidden;
}


#py{
    position:absolute; width:7% ; left:5%; top:203%; opacity: 0.5;
}

#py2{
    position:absolute; width:37% ; left:32%; top:-30%; opacity: 0.5; visibility: hidden;
}


#ps{
    position:absolute; width:32% ; left:65%; top:-28%; opacity: 0.5; visibility: hidden;
}


#ai{
    position:absolute; width:3% ; left:72%; top: 204%; opacity: 0.5;
}

#ai2{
    position:absolute; width:22% ; left:36%; top: -25%; opacity: 0.5; visibility: hidden;
}

#c{
    position:absolute; width:4% ; left:82%; top:203%; opacity: 0.5;
}

#js{
    position:absolute; width:4% ; left:91%; top:203%; opacity: 0.5;
}

#js2{
    position:absolute; width:30% ; left:-5%; top:-25%; opacity: 0.5; visibility: hidden;
}



#decor{
    position: absolute;
    top:230%;
    z-index: 20;
}

