body{
    background-color: black;
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
}
#p5Div {
position: absolute;
top: 0;
left: 0;
}
#p5Div {
z-index: 1;
}

h1{
    z-index: 1;
}
a{
    z-index: 3;
}


#aboutme{
    position: relative;
    
     top: 5vh;
     left:2vw;
     transition-duration: 0.6s;
    filter: brightness(0.8);
}

.layer{
    position: absolute;
}
#threejsDiv{
    background-color: transparent;
    position: absolute;
    top: 0vh;
    width: 50vw;
    z-index: -1;
}


#projcanvas{
    z-index: 2;
}


#proj{
    position: absolute;
    top:180vh !important;
    /* z-index: 11; */
}




h2{
    font-size: 50px;
    font-family: 'Spartan';
    font-weight: lighter;
    /* position: absolute; */
    top: 50vh;
    left: 5vw;
    color:white;
}

.outer{
    position: absolute;
    /* margin-top: 2px; */

    top: 50vh;
    left: 42vw;
}

.inner{
    position: absolute;
    /* border: 1px solid #eee; */
    height: 50px;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
}

.innerspan{
    animation: animate 10s ease infinite;
    /* position: relative; */
    color: rgb(161, 161, 161);
}

@keyframes animate {
    0% {top: 0}
    20% {top: 0}
    25% {top: -59px}
    45% {top: -59px}
    50% {top: -59 px}
    70% {top: -118 px}
    75% {top: -118px}
    95% {top: -118px}
    100% {top: 0px}
}



.wrapper{
    width: 400px;
    height:400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#popup{
    /* background-color: white;
    border:3px solid black; */
    width: 400px;
    height: 400px;
    position: absolute;
    top:160vh;
    left: 20vw;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;


}

#popup.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#popup.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup2{
    margin-left: 5px;
    padding: 33px;
    font-family: "Spartan";
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    /* background-color: white; */
    /* background-color: rgb(43, 42, 42); */
    /* border:3px solid black; */
    width: 700px;
    height: 400px;
    position: absolute;
    top:150vh;
    left: 70vw;
    transform: translate(-50%,-50%);
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: 0.5s;
    align-items: center;
    z-index: 20;
    border-radius: 20%;
    /* color: white; */

}

#popup2.active{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2.dactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

#me1{
    position: absolute;
    color: white;
font-family: 'Spartan';
 letter-spacing: 10px;
 top:137vh !important ;
  font-size: 15px;
  left: 52%;
   font-weight: lighter; 
   opacity: 0.4;
}



#me1.meopa{
    
    opacity: 1;
    transition: 0.5s;
}

#me1.meclose{
    
    opacity: 0.4;
    transition: 0.5s;
}






/* nav{
    position: fixed;
    background-color: black;
    top: 0;
    z-index:1;
    height: 1vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
} */

/* .nav-links{
    background-color: black;
} */

.nav-links ul{
    z-index: 100;
    position: fixed;
    top: 8;
    display: flex;
    flex-direction: row;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
      
}



.nav-links ul li{
    padding: 0 20px;
    list-style: none;
}

.nav-links ul li img{
    transform:  scale(0.75);
}

.java{
    position:absolute; width:33% ; left:12%; top: -30%; opacity: 0.3;visibility: hidden;
}

.java2{
    position:absolute; width:5% ; left:15%; top: 203%; opacity: 0.5;
}

.ps2{
    position:absolute; width:5% ; left:25%; top:203%; opacity: 0.5;
}

.ps3{
    position:absolute; width:32% ; left:65%; top:-28%; opacity: 0.5;visibility: hidden;
}

.java3{
    position:absolute; width:33% ; left:28%; top: -30%; opacity: 0.3;visibility: hidden;
}


#py{
    position:absolute; width:7% ; left:5%; top:203%; opacity: 0.5;
}

#py2{
    position:absolute; width:37% ; left:32%; top:-30%; opacity: 0.5; visibility: hidden;
}


#ps{
    position:absolute; width:32% ; left:65%; top:-28%; opacity: 0.5; visibility: hidden;
}


#ai{
    position:absolute; width:3% ; left:72%; top: 204%; opacity: 0.5;
}

#ai2{
    position:absolute; width:22% ; left:36%; top: -25%; opacity: 0.5; visibility: hidden;
}

#c{
    position:absolute; width:4% ; left:82%; top:203%; opacity: 0.5;
}

#js{
    position:absolute; width:4% ; left:91%; top:203%; opacity: 0.5;
}

#js2{
    position:absolute; width:30% ; left:-5%; top:-25%; opacity: 0.5; visibility: hidden;
}



#decor{
    position: absolute;
    top:230%;
    z-index: 20;
}

